#latin
{
    text-align: center;
    color: white;
    list-style-type: none;
} 
#devanagari
{
    text-align: center;
    color: white;
    list-style-type: none;
} 
#arabic
{
    text-align: center;
    color: white;
    list-style-type: none;
} 
h1
{
    text-align: center;
    color: white;
    list-style-type: none;
}
h2
{
    text-align: center;
    color: white;
    list-style-type: none;
}
.font-types
{
    text-align: center;
    color: white;
}
p 
{
    text-decoration: ;
}